$color_1: #dae316;
$color_2: #263746;
$color_3: #17222b;
$color_4: #9fb1ba;
$color_5: #dae3e4;
$color_6: #718b9c;
$color_7: rgba(#1f2d39, 0.0375);
$color_8: darken($color_6, 3.375%);
$color_9: #4e4f4c;
$color_10: #e9e9e9;
