.about-main {
    color: $color_6;
    img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
        aspect-ratio: 4/3;
        @include min_lg {
            height: 100%; 
        }
    }
    h1,
    h2 {
        color: $color_5;
        font-size: 18px;
    }
    p {
        font-size: 16px; 
        color: $color_6;
    }
    a,
    button {
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 0.25s;
        color: $color_6;
        font-size: 14px;
        &:hover {
            text-decoration-color: $color_6;
        }

    }
    button {
        color: $color_6;
        &::before {
            padding: 4.5px 12px;
            bottom: calc(-100% - 24px);
            left: 0;
            background-color: $color_5;
            color: $color_2;
        }
    }
}