main {
    &.before-odd,
    &.before-even,
    &.before-start,
    &.before-end {
        &::before {
            content: " ";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            animation-fill-mode: forwards;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            z-index: 0;
            background-image: url(../images/dark-fish-skin.webp);
            background-blend-mode: color;
        }
        &.reverse {
            &.before-odd::before {
                animation-name: zeroRev;
            }
            &.before-even::before {
                animation-name: oneRev;
            }
        }
    }
    &.before-odd::before {
        animation-name: zero;
    }
    &.before-even::before {
        animation-name: one;
    }
    &.before-start::before {
        animation-name: start;
    }
    &.before-end::before {
        animation-name: end;
    }
}

@keyframes zero {
    0% {
        background-color: $color_2;
    }
    100% {
        background-color: $color_3;
    }
}

@keyframes one {
    0% {
        background-color: $color_3;
    }
    100% {
        background-color: $color_2;
    }
}

@keyframes zeroRev {
    0% {
        background-color: $color_2;
    }
    100% {
        background-color: $color_3;
    }
}

@keyframes oneRev {
    0% {
        background-color: $color_3;
    }
    100% {
        background-color: $color_2;
    }
}

@keyframes start {
    0% {
        background-color: $color_3;
    }
    100% {
        background-color: $color_2;
    }
}

@keyframes end {
    0% {
        background-color: $color_2;
    }
    100% {
        background-color: $color_3;
    }
}
