main {
    position: relative;
    min-height: 100vh;
    background-image: url(../images/dark-fish-skin.webp);
    background-blend-mode: color;
    background-color: $color_2;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        background-image: url(../images/dark-fish-skin.webp);
        background-blend-mode: color;
        background-color: $color_2;
        transition: background-color 1s;
        will-change: background-color;
    }
    &.before-odd::before {
        background-color: $color_3;
    }
    &.before-even::before {
        background-color: $color_2;
    }
    &.before-start::before {
        background-color: $color_2;
    }
    &.before-end::before {
        background-color: $color_3;
    }
    &.before-odd {
        background-color: $color_3;
    }
    &.before-even {
        background-color: $color_2;
    }
    &.before-start {
        background-color: $color_2;
    }
    &.before-end {
        background-color: $color_3;
    }
}
