main {
    background-image: url(../images/dark-fish-skin.webp);
    background-blend-mode: color;
    background-color: $color_2;
    &::before {
        content: " ";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background-image: url(../images/dark-fish-skin.webp);
        background-blend-mode: color;
        background-color: $color_2;
        transition: background-color 1s;
        will-change: background-color;

    }
    &.before-odd::before  {
        background-color: $color_3;
    }
    &.before-even::before  {
        background-color: $color_2;
    }
    &.before-start::before  {
        background-color: $color_2;
    }
    &.before-end::before  {
        background-color: $color_3;
    }
    &.before-odd {
        background-color: $color_3;
    }
    &.before-even {
        background-color: $color_2;
    }
    &.before-start {
        background-color: $color_2;
    }
    &.before-end {
        background-color: $color_3;
    }
}