html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: $font;
}

.copy-tooltip {
    background-color: transparent;
    border: none;
    position: relative;
    &::before {
        position: absolute;
        content: " Copied ";
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 12px;
        border-radius: 3px;
        opacity: 0;
        transition: opacity 0.5s;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    &.has-opacity {
        &::before {
            opacity: 1;
        }
    }
    &.has-display {
        &::before {
            width: initial;
            height: initial;
        }
    }
}

.navigation-anchor {
    font-weight: 400;
    padding: 2px 0;
    letter-spacing: initial;
    position: relative;
    text-decoration: none;
    &::after {
        position: absolute;
        content: " ";
        right: 0;
        bottom: 0;
        height: 1px;
        width: 0;
        transition: width 0.25s;
    }
    &:hover,
    &:focus {
        &::after {
            left: 0;
            width: 100%;
        }
    }
    &.active {
        transition: none;
        &::after {
            width: 100%;
        }
    }
}

main {
    background-color: $color_2;
}
