html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: $font;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $color_3;
}

.copy-tooltip {
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    &::before {
        position: absolute;
        content: " Copied ";
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        opacity: 0;
        transition: opacity 0.5s;
        clip-path: inset(100%);
    }
    &.has-opacity {
        &::before {
            opacity: 1;
        }
    }
    &.has-display {
        &::before {
            clip-path: initial;
        }
    }
}

.navigation-anchor {
    font-weight: 400;
    letter-spacing: initial;
    position: relative;
    text-decoration: none;
    display: block;
    width: fit-content;
    &::after {
        position: absolute;
        content: " ";
        right: 0;
        bottom: 8px;
        height: 1px;
        width: 0;
        transition: width 0.25s;
    }
    &:hover {
        &::after {
            left: 0;
            width: 100%;
        }
    }
    &.active {
        transition: none;
        &::after {
            width: 100%;
        }
    }
}

main {
    background-color: $color_2;
    min-height: calc(100vh - 155.5px);
    display: flex;
    align-items: center;
    background-image: url(../images/checkered-pattern.webp);
}

#outer {
    position: relative;
}

#intro-work,
#intro-about {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    will-change: opacity;
    opacity: 0;
    z-index: -1;
    background-color: $color_3;
    &::after {
        content: " ";
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../images/checkered-pattern.webp);
        will-change: opacity;
        opacity: 0;
    }
}

#intro-about {
    animation: intro 0.5s ease-out;
    &::after {
        animation: intro 0.5s ease-out;
    }
}

#intro-work {
    &.cookie-false {
        animation: intro_work 2.5s ease-out;
        &::after {
            animation: intro_work 2.5s ease-out;
        }
        #vivus path {
            animation: intro_work_svg 2.5s ease-out;
        }
    }
    &.cookie-true {
        animation: intro 0.5s ease-out;
        &::after {
            animation: intro 0.5s ease-out;
        }
    }
}

@keyframes intro_work_svg {
    0% {
        stroke-opacity: 0;
    }
    33.33% {
        stroke-opacity: 1;
    }
    66.67% {
        stroke-opacity: 0;
    }
    100% {
        stroke-opacity: 0;
    }
}

@keyframes intro_work {
    0% {
        opacity: 1;
        z-index: 1001;
    }
    66.67% {
        opacity: 1;
        z-index: 1001;
    }
    100% {
        opacity: 0;
        z-index: 1001;
    }
}

@keyframes intro {
    0% {
        opacity: 1;
        z-index: 1001;
    }
    100% {
        opacity: 0;
        z-index: 1001;
    }
}
