html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: $font;
    overflow: hidden;
}

.copy-tooltip {
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    &::before {
        position: absolute;
        content: " Copied ";
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        opacity: 0;
        transition: opacity 0.5s;
        clip-path: inset(100%);
    }
    &.has-opacity {
        &::before {
            opacity: 1;
        }
    }
    &.has-display {
        &::before {
            clip-path: initial;
        }
    }
}

.navigation-anchor {
    font-weight: 400;
    letter-spacing: initial;
    position: relative;
    text-decoration: none;
    display: block;
    width: fit-content;
    &::after {
        position: absolute;
        content: " ";
        right: 0;
        bottom: 8px;
        height: 1px;
        width: 0;
        transition: width 0.25s;
    }
    &:hover {
        &::after {
            left: 0;
            width: 100%;
        }
    }
    &.active {
        transition: none;
        &::after {
            width: 100%;
        }
    }
}

main {
    min-height: calc(100vh - 155.5px);
    display: flex;
    align-items: center;
    background-image: url(../images/dark-fish-skin.webp);
    background-blend-mode: lighten;
    background-color: $color_3;
}

.os-theme-body .os-scrollbar-handle {
    background: $color_4;
    border-radius: 5px;
    background-image: url(../images/dark-fish-skin.webp);
    background-blend-mode: lighten;
    height: 90px;
}

.os-theme-body .os-scrollbar-track {
    background: $color_3;
    background-image: url(../images/dark-fish-skin.webp);
    background-blend-mode: lighten;
}

.os-theme-body {
    --os-size: 7px;
    opacity: 0;
    transition: opacity 0.7s;
    will-change: opacity;
    &.has-opacity {
        opacity: 1;
    }
    &.has-right {
        right: -7px
    }
}
