header {
    background-color: $color_3;
    color: $color_5;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.067em;
    a,
    p {
        color: $color_6;
        text-decoration: none;
        font-weight: 400;
        padding: 2px 0;
        position: relative;
        letter-spacing: initial;
        &::after {
            position: absolute;
            content: " ";
            right: 0;
            bottom: 0;
            height: 1px;
            width: 0;
            background-color: $color_6;
            transition: width 0.25s;
        }
        &:hover,
        &:focus {
            &::after {
                left: 0;
                width: 100%;
            }
        }
        &.active {
            transition: none;
            &::after {
                width: 100%;
            }
        }
    }
    p {
        &::before {
            position: absolute;
            content: " Copied ";
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px 12px;
            border-radius: 3px;
            right: 0;
            bottom: calc(-100% - 12px);
            background-color: $color_5;
            color: $color_2;
            opacity: 0;
            transition: opacity 0.5s;
        }
        &.has-opacity {
            &::before {
                opacity: 1;
            }
        }
    }
}
