header,
nav {
    position: relative;
    z-index: 998;
}

nav {
    color: $color_3;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.067em;
    padding: 60px 0;
    &.nav-fixed {
        z-index: -1;
        position: fixed;
        width: 100%;
        top: -55.5px;
        transition: none;
        max-height: 0px;
        background-color: transparent;
        will-change: top, max-height, background-color;
        padding: 0;
        background-blend-mode: initial;
        background-position: initial;
        background-image: none;
        &.has-float {
            z-index: 997;
            position: fixed;
            top: -55.5px;
            transition:
            top 0.375s,
            max-height 1s,
            background-color 1s;
            max-height: 55.5px;
            padding: 15px 0 5px 0;
            background-color: transparent;
        }
        &.has-positive {
            z-index: 997;
            position: fixed;
            top: -55.5px;
            transition:
                top 0.375s,
                max-height 1s,
                background-color 1s;
            max-height: 0px;
            background-color: transparent;
            padding: 15px 0 5px 0;
        }
        &.has-negative {
            z-index: 997;
            position: fixed;
            top: 0px;
            transition:
                top 0.375s,
                max-height 1s,
                background-color 1s;
            max-height: 55.5px;
            background-color: $color_5;
            padding: 15px 0 5px 0;
        }
    }
    a {
        color: $color_3;
    }
    .copy-tooltip {
        color: $color_3;
        &::before {
            right: 0;
            bottom: calc(-100% + 8px);
            background-color: $color_9;
            color: $color_5;
            z-index: 1000;
            padding: 2px 12px;
        }
        &.has-fixed::before {
            top: 0;
            right: -12px;
            bottom: 8px;
            left: -12px;
        }
    }
    a,
    .copy-tooltip {
        &::after {
            background-color: $color_3;
        }
    }
    .blink {
        width: 6px;
        height: 6px;
        display: inline-block;
        margin: 0 0 2px 0;
        animation: blink 1.25s infinite ease-out;
    }
}

@keyframes blink {
    0% {
        background-color: $color_3;
    }
    100% {
        background-color: transparent;
    }
}
