#intro-work,
#intro-about {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    will-change: opacity;
    opacity: 1;
    z-index: 1001;
    &.z-index-end {
        z-index: -1;
    }
}

#intro-about {
    animation: intro 0.7s linear;
    background-color: $color_3;
}

#intro-work {
    &.cookie-false.has-js {
        animation: intro_work 3s ease-out;
        background-image: url(../images/cubes.webp);
        background-color: $color_2;
        background-blend-mode: overlay;
        #vivus path {
            animation: intro_work_svg 2.3s ease-out;
            will-change: stroke-opacity;
        }
    }
    &.cookie-true {
        animation: intro 0.7s linear;
        background-color: $color_3;
    }
}

@keyframes intro_work_svg {
    0% {
        stroke-opacity: 1;
    }
    24% {
        stroke-opacity: 1;
    }
    100% {
        stroke-opacity: 0;
    }
}

@keyframes intro_work {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes intro {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
