#intro-work,
#intro-about {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    will-change: opacity;
    opacity: 1;
    z-index: 1001;
    background-color: $color_3;
    &::after {
        content: " ";
        position: fixed;
        z-index: 1002;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../images/checkered-pattern.webp);
        will-change: opacity;
        opacity: 1;
    }
}

#intro-about {
    animation: intro 0.5s ease-out;
    animation-fill-mode: forwards;
    &::after {
        animation: intro 0.5s ease-out;
        animation-fill-mode: forwards;
    }
}

#intro-work {
    #vivus path {
        will-change: stroke-opacity;
    }
    &.cookie-false.live {
        animation: intro_work 2.5s ease-out;
        animation-fill-mode: forwards;
        &::after {
            animation: intro_work 2.5s ease-out;
            animation-fill-mode: forwards;
        }
        #vivus path {
            animation: intro_work_svg 2.5s ease-out;
            animation-fill-mode: forwards;
        }
    }
    &.cookie-true.live {
        animation: intro 0.5s ease-out;
        animation-fill-mode: forwards;
        &::after {
            animation: intro 0.5s ease-out;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes intro_work_svg {
    0% {
        stroke-opacity: 0;
    }
    33.33% {
        stroke-opacity: 1;
    }
    66.67% {
        stroke-opacity: 0;
    }
    100% {
        stroke-opacity: 0;
    }
}

@keyframes intro_work {
    0% {
        opacity: 1;
        z-index: 1001;
    }
    66.67% {
        opacity: 1;
        z-index: 1001;
    }
    99.99% {
        opacity: 0;
        z-index: 1001;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes intro {
    0% {
        opacity: 1;
        z-index: 1001;
    }
    99.99% {
        opacity: 0;
        z-index: 1001;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
