.slider_work-overlay-body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    transform: translateX(100%);
    will-change: transform;
    overflow: hidden;
    > * {
        will-change: opacity;
        transition: opacity 0.5s cubic-bezier(0, 0.25, 0.5, 0.5);
        opacity: 0;
    }
    &.overlay-fixed {
        transform: translateX(0);
        > * {
            opacity: 1;
        }
        ~ .slider_work-overlay-backdrop {
            transform: translateX(0);
        }
    }
}

.slider_work-overlay-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparentize($color_6, 0.975);
    transition: background-color 0.5s cubic-bezier(0.66, 0.01, 0.27, 0.84);
    z-index: 1000;
    transform: translateX(100%);
    &.overlay-transition {
        transform: translateX(0);
        background-color: transparentize($color_6, 0.88);
    }
}

.slider_work-overlay-body {
    background-color: $color_3;
    background-image: url(../images/dark-fish-skin.webp);
    background-blend-mode: lighten;
}

.slider_work-overlay-heading-container {
    border: 1px solid $color_5;
    h2 {
        color: $color_5;
        padding: 22% 1.5rem;
        font-size: clamp(18px, 1.5vw, 25px);
    }
}

.slider_work-overlay-list-container {
    ul {
        color: $color_4;
        font-size: clamp(16px, 1.5vw, 20px);
    }
    hr {
        border-color: $color_5;
        opacity: 1;
    }
}

.slider_work-overlay-preview-container {
    border: 1px solid $color_5;
    position: relative;
    padding-top: 68%;
    @include min_lg {
        padding-top: 58%;
    }
    video {
        position: absolute;
        top: 0.25rem;
        left: 0.25rem;
        width: calc(100% - 0.5rem);
        height: calc(100% - 0.5rem);
        object-fit: contain;
        clip-path: inset(8px 8px 8px 8px);
        @include min_lg {
            top: 1.5rem;
            left: 1.5rem;
            width: calc(100% - 3rem);
            height: calc(100% - 3rem);
        }
    }
    .controlls {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        img {
            opacity: 0;
            transition: opacity 0.5s;
            display: none;
            width: 40px;
            &.has-play {
                display: block;
            }
            &.has-pause {
                display: block;
            }
        }
    }
    &:hover img {
        opacity: 0.75;
    }
}

.slider_work-overlay-sidebar {
    position: sticky;
    top: 0;
    background-color: $color_5;
    z-index: 1002;
    background-image: url(../images/dark-fish-skin.webp);
    background-blend-mode: lighten;
    @include min_lg {
        position: static;
        top: initial;
    }
    .slider_work-button-container {
        @include min_lg {
            position: sticky;
            top: 0;
        }
        button {
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            i {
                font-size: 22px;
                color: $color_3;
                transition: color 0.25s;
                &:hover {
                    color: $color_6;
                }
            }
        }
    }
}

.slider_work-overla-overflow [data-overlayscrollbars-viewport] {
    overscroll-behavior: none;
}

.os-theme-overlay {
    --os-size: 7px;
}

.os-theme-overlay .os-scrollbar-handle {
    background: $color_5;
    border-radius: 5px;
    background-image: url(../images/dark-fish-skin.webp);
    background-blend-mode: lighten;
    height: 133px;
    @include min_lg {
        background: $color_3;
    }
}

.os-theme-overlay.os-scrollbar-track {
    background: transparent;
}
