.work-section {
    color: $color_5;
    .slogan {
        font-size: clamp(30px, 4vw, 50px);
        font-weight: 700;
    }
    a,
    button {
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 0.25s;
        color: $color_5;
        &:hover,
        &:focus {
            text-decoration-color: $color_5;
        }

    }
    button {
        color: $color_5;
        &::before {
            bottom: calc(-100% - 12px);
            left: 0;
            background-color: $color_5;
            color: $color_2;
        }
    }
}

.work-main {
    h2 {
        color: $color_5;
        font-size: 22px;
    }
    p {
        color: $color_6;
    }
    img {
        width: 100%;
        height: 100%;
    }
}