.work-header {
    color: $color_5;
    .slogan {
        font-size: clamp(30px, 4vw, 50px);
        font-weight: 500;
        @include min_md {
            font-weight: 700;
        }
    }
    a,
    .copy-tooltip {
        text-decoration-line: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 0.25s;
        color: $color_5;
        &:hover {
            text-decoration-color: $color_5;
        }
    }
    .copy-tooltip::before {
        bottom: calc(-100% - 12px);
        left: 0;
        background-color: $color_5;
        color: $color_2;
        padding: 2px 12px;
    }
}

.work-main {
    h2 {
        color: $color_5;
        font-size: 22px;
    }
    hr {
        color: $color_6;
    }
    p {
        color: $color_6;
        word-break: break-all;
    }
    img {
        width: 100%;
        height: fit-content;
    }
    .preview {
        font-size: 18px;
        color: $color_4;
        width: fit-content;
        background-color: transparent;
        border: none;
        i {
            font-size: 16px;
            transform: translateX(0%);
            transition: transform 0.25s ease-in-out;
        }
        &:hover {
            i {
                transform: translateX(50%);
            }
        }
    }
    .copy-tooltip {
        text-decoration-line: underline;
        padding: 0;
        text-decoration-color: $color_6;
        transition: text-decoration-color 0.25s;
        color: $color_6;
        font-size: 14px;
        width: fit-content;
        @include min_md {
            font-size: initial;
        }
        &:hover {
            text-decoration-color: transparent;
        }
        &::before {
            padding: 0;
            top: 2px;
            right: -80px;
            bottom: 2px;
            left: calc(100% + 12px);
            background-color: $color_5;
            color: $color_2;
        }
    }
    .visit {
        text-decoration-color: $color_6;
        color: $color_6;
        text-decoration-line: underline;
        transition: text-decoration-color 0.25s;
        width: fit-content;
        &:hover {
            text-decoration-color: transparent;
        }
    }
}

.has-move {
    position: relative;
    bottom: -88px;
    transition: bottom 1s;
    will-change: bottom;
    &.has-bottom {
        bottom: 0;
    }
}
