.work-header {
    color: $color_3;
    .slogan {
        font-weight: 500;
        @include min_md {
            font-weight: 600;
        }
        .heading-top {
            font-size: clamp(22px, 2vw, 30px);
            color: $color_9;
        }
        .heading-bottom {
            font-size: clamp(30px, 3vw, 50px);
            color: $color_9;
        }
    }
    a,
    .copy-tooltip {
        text-decoration-line: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 0.25s;
        will-change: text-decoration-color;
        color: $color_3;
        &:hover {
            text-decoration-color: $color_3;
        }
    }
    .copy-tooltip::before {
        bottom: calc(-100% - 12px);
        left: 0;
        background-color: $color_9;
        color: $color_5;
        padding: 2px 12px;
    }
}

.work-main {
    font-size: clamp(16px, 2vw, 20px);
    h2 {
        color: $color_3;
        font-size: clamp(20px, 2.34vw, 24px);
    }
    p {
        color: $color_9;
        word-break: break-all;
    }
    img {
        width: 100%;
        height: fit-content;
    }
    .preview {
        font-size: clamp(17.5px, 2.25vw, 20px);
        color: $color_9;
        width: fit-content;
        background-color: transparent;
        border: none;
        i {
            color: $color_9;
            font-size: clamp(15px, 2.125vw, 17.5px);
            transform: translateX(0%);
            transition: transform 0.25s ease-in-out;
        }
        &:hover {
            i {
                transform: translateX(50%);
            }
        }
    }
    .work-details {
        background-color: $color_5;
        background-blend-mode: exclusion;
        background-position: top right;
        background-image: url(../images/cubes.webp);
        .visit {
            color: $color_9;
            transition: color 0.25s;
            will-change: color;
            &:hover i {
                color: $color_3;
            }
        }
        hr {
            border-color: $color_3;
            opacity: 1;
        }
        li {
            color: $color_9;
            &.title {
                font-size: 14px;
                font-size: clamp(14px, 2vw, 16px);
                color: $color_9;
            }
        }
        .copy-tooltip {
            text-decoration-line: underline;
            padding: 0;
            text-decoration-color: $color_9;
            transition: text-decoration-color 0.25s;
            will-change: text-decoration-color;
            width: fit-content;
            text-underline-offset: 3px;
            &:hover {
                text-decoration-color: transparent;
            }
            &::before {
                top: 2px;
                right: 0;
                bottom: 2px;
                left: 0;
                background-color: $color_9;
                color: $color_5;
                z-index: 1000;
                padding: 0;
            }
        }
    }
    .work-image-overlay {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color_7;
    }
}

.has-move {
    position: relative;
    bottom: -48px;
    transition: bottom 1s;
    will-change: bottom;
    @include min_xl {
        bottom: -104px;
    }
    &.has-bottom {
        bottom: 0;
    }
}
